<?xml version = "1.0" encoding = "UTF-8"?>
<launch>
  <node name="right_arm_driver" pkg="kinova_driver" type="kinova_arm_driver" output="screen" cwd="node" args="j2s7s300">
    <rosparam file="$(find kinova_man_bringup)/config/robot_parameters.yaml" command="load" />
    <param name="serial_number" value="PJ00900006514980-0" />
    <param name="robot_name" value="right_arm" />   
    <param name="robot_type" value="j2s7s300" />
    <remap from="/right_arm_driver/out/joint_state" to="joint_states"/>
  </node>
</launch>
